*{
    background-color: #025464;
    color: #7C96AB;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
   
    
}
body{
    margin-left: 40px;
}
h1{
    color: #E96479 ;
    font-size: 50px;
    text-align: center;
}


h2{
    color: #E8AA42;
    font-size: 37px;
}
#profile{
    
   
    height: 350px;
    border: 4px solid #47A992;

}

h3{
    color: #E57C23;
}

.detail{
    margin-left: 30px;
}
.copy{
    text-align: center;
}
small{
    font-size: 18px;
    color: #E96479;
    
    
}
